
.ipynb_checkpoints/Exercise-4-problem-1-checkpoint.ipynb
.ipynb_checkpoints/Exercise-4-solution-1-checkpoint.py
.ipynb_checkpoints/functions-checkpoint.ipynb
.ipynb_checkpoints/functions-checkpoint.py
Yedek Nasıl-Yaptım-functions.wbk
~$sıl-Yaptım-functions.docx
~WRL2378.tmp
